.card {
  width: 540px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__title {
  margin-bottom: 32px;
  margin-top: 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-self: flex-end;
}

.card__list-item {
  display: flex;
  margin-bottom: 16px;
  list-style-type: none;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-item:last-child {
  margin-bottom: 0px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
